{% extends 'base.html.twig' %}

{% block title %} Welkom! {{ parent() }} {% endblock %}

{% block body %}

    <header>
        {% block navigation %}
            {{ include('partials/navigation.html.twig')}}
        {% endblock navigation %}
    <header>

    <div class="container-fluid">
        <div class="row flex-xl-nowrap">
        {% block content %}
        
        {% endblock content %}
        </div>
    </div>

{% endblock body %}
