{% extends 'main/index.html.twig' %}

{% block title %} Gepubliceerde lijsten {% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <h1 class="text-center display-4"> Openbare to-do-lijsten </h1>
    <div class="container">
        <h1 class="text-center display-5">Zoveel mensen, zoveel taken</h1>
        <p class="lead text-center"> ... doch niet nu </p>
        <hr class="my-4">
        <p> 
            Work In Progress: dit onderdeel van de website is nog niet klaar. Geen zorgen; het staat op
            onze takenlijst.
        </p>
    </div>
</div>
{% endblock content %}