{% extends 'main/index.html.twig' %}

{% block title %}Lijstoverzicht {{ parent() }}{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="text-center display-4">Lijstoverzicht voor {{ app.user.email}}</h1>
        <p class="text-center lead"> Van uitstel komt afstel</p>
        {% if app.user.taskLists is empty %}
        <hr class="my-4">
        
        <h2 class="text-center"> Wat een leegte </h2>
        <div class="d-flex flex-row justify-content-around">
            <a class="btn btn-primary btn-lg" href="{{ path('new_list') }}"> Nieuwe lijst aanmaken! </a>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
